<div class="login">
  <h3>Membership Login</h3>
  <div class="links">
    <a href="https://elac.clubautomation.com/" target="_blank">Elkhart</a><br />
    <a href="https://mcac.clubautomation.com/"  target="_blank">Goshen</a>
  </div>
</div>
<div class="social_icons">
  <a target="blank" href="http://www.youtube.com/user/EastlakeAthleticClub"><img src="/assets/youtube.png" /></a>
  <a target="blank" href="https://www.facebook.com/EastlakeAthleticClub"><img src="/assets/f_logo.png" /></a>
  <a target="blank" href="https://twitter.com/EastlakeAthClub"><img src="/assets/twitter.png" /></a>
</div>

<%= link_to image_tag('logo.png'), refinery.root_path, :class => 'logo' %>

<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
